/* You can add global styles to this file, and also import other style files */

.FlexDirectionRow {
    flex-direction: row;
}

.FlexDirectionColumn {
    flex-direction: column;
}

.TagInsideInput{
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 5px;
    margin-top: 7px;
}