<div class="page">
  <div class="page-main">

    <div class="my-3 my-md-5">
      <div class="container">
        <div class="row row-cards row-deck">
          <div class="col-12">
            <div class="w-100 mb-3 text-right">
              <button class="btn btn-primary" routerLink="/projects/create">Create</button>
            </div>
            <div class="card">
              <div class="card-header">
                <h3 class="m-0">List of Projects</h3>
              </div>
              <table class="table card-table">
                <tr routerLink="/projects/edit">
                  <td>Admin Template</td>
                  <td class="text-right">
                    <span class="badge badge-default">65%</span>
                  </td>
                </tr>
                <tr routerLink="/projects/edit">
                  <td>Landing Page</td>
                  <td class="text-right">
                    <span class="badge badge-success">Finished</span>
                  </td>
                </tr>
                <tr routerLink="/projects/edit">
                  <td>Backend UI</td>
                  <td class="text-right">
                    <span class="badge badge-danger">Rejected</span>
                  </td>
                </tr>
                <tr routerLink="/projects/edit">
                  <td>Personal Blog</td>
                  <td class="text-right">
                    <span class="badge badge-default">40%</span>
                  </td>
                </tr>
                <tr routerLink="/projects/edit">
                  <td>E-mail Templates</td>
                  <td class="text-right">
                    <span class="badge badge-default">13%</span>
                  </td>
                </tr>
                <tr routerLink="/projects/edit">
                  <td>Corporate Website</td>
                  <td class="text-right">
                    <span class="badge badge-warning">Pending</span>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>