<div class="page">
  <div class="page-main">

    <div class="my-3 my-md-5">
      <div class="container">
        <div class="row row-cards row-deck">
          <div class="col-12">
            <div class="w-100 mb-3 text-right">
              <button class="btn btn-primary" routerLink="/projects/create">Create</button>
            </div>
            <div class="card">
              <div class="card-header">
                <h3 class="m-0">List of Projects</h3>
              </div>
              <a routerLink="/projects/edit">Edit</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>