<div class="Sidebar">
  <a routerLink="/home" class="mx-auto h4 mt-5">
    <img class="img-fluid p-3" src="../../../assets/images/blaz.png" alt="" style="height: 65px;">
  </a>
  <div class="py-5"></div>

  <a class="Sidebar__links" routerLink="/home" routerLinkActive="Sidebar__linksActive">
    <i class="fe fe-home"></i>
    Home
  </a>
  <a class="Sidebar__links" routerLink="/apps" routerLinkActive="Sidebar__linksActive">
    <i class="fe fe-zap"></i>
    Apps
  </a>

  <a href="" class="Sidebar__links" routerLink="/domains-n-hosts" routerLinkActive="Sidebar__linksActive">
    <i class="fe fe-server"></i>
    Domains & Hosts
  </a>

  <a href="" class="Sidebar__links" routerLink="/firewalls" routerLinkActive="Sidebar__linksActive">
    <i class="fe fe-lock"></i>
    Firewall
  </a>


  <a href="" class="Sidebar__links" data-toggle="collapse" href="#manageMenu" role="button" aria-expanded="false"
    aria-controls="manageMenu" routerLinkActive="Sidebar__links">
    <i class="fe fe-globe"></i>
    Manage
  </a>
  <div class="collapse" id="manageMenu">
    <a href="" class="ml-2 Sidebar__links" routerLink="/teams" routerLinkActive="Sidebar__linksActive">
      <i class="fe fe-users"></i>
      Teams
    </a>
    <a href="" class="ml-2 Sidebar__links" routerLink="/users" routerLinkActive="Sidebar__linksActive">
      <i class="fe fe-users"></i>
      Users
    </a>
  </div>

  <a href="" class="Sidebar__links" routerLink="/projects" routerLinkActive="Sidebar__linksActive">
    <i class="fe fe-square"></i>
    Projects
  </a>

  <a href="" class="Sidebar__links" data-toggle="collapse" href="#monitorMenu" role="button" aria-expanded="false"
    aria-controls="monitorMenu" routerLinkActive="Sidebar__links">
    <i class="fe fe-monitor"></i>
    Monitoring
  </a>
  <div class="collapse" id="monitorMenu">
    <a href="" class="ml-2 Sidebar__links" routerLink="/monitoring/audits" routerLinkActive="Sidebar__linksActive">
      <i class="fe fe-layers"></i>
      Audits
    </a>
    <a href="" class="ml-2 Sidebar__links" routerLink="/monitoring/health" routerLinkActive="Sidebar__linksActive">
      <i class="fe fe-activity"></i>
      Health
    </a>
    <a href="" class="ml-2 Sidebar__links" routerLink="/monitoring/alerts" routerLinkActive="Sidebar__linksActive">
      <i class="fe fe-alert-circle"></i>
      Alerts
    </a>
  </div>

  <a href="" class="Sidebar__links" routerLink="/tools" routerLinkActive="Sidebar__linksActive">
    <i class="fe fe-sliders"></i>
    Tools
  </a>
  <a href="" class="Sidebar__links" routerLink="/settings" routerLinkActive="Sidebar__linksActive">
    <i class="fe fe-settings"></i>
    Settings
  </a>
</div>