.Sidebar {
  position: fixed;
  width: 200px;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 40, 100, 0.12);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.Sidebar__links {
  display: block;
  padding: 10px 30px;
}

.Sidebar__linksActive {
  background: #f5f7fb;
}

.Sidebar__links[aria-expanded="true"] {
  background-color: #f5f7fb;
}

.Sidebar__links:hover {
  background: #f5f7fb;
  text-decoration: none;
}

.fe {
  margin-right: 5px;
}
