<div class="Sidebar">
  <a routerLink="/home" class="mx-auto h4 mt-5">
  <img class="img-fluid p-3" src="../../../assets/images/blaz.png" alt="">
  </a>
  <div class="py-5"></div>

  <a class="Sidebar__links" routerLink="/apps">
    Apps
  </a>

  <a href="" class="Sidebar__links" routerLink="/hosts">Domains & Hosts</a>

  <a href="" class="Sidebar__links"  routerLink="/firewalls" >Firewall</a>


  <a href="" class="Sidebar__links" data-toggle="collapse" href="#manageMenu" role="button" aria-expanded="false"
    aria-controls="manageMenu">Manage</a>
  <div class="collapse" id="manageMenu">
    <a href="" class="ml-2 Sidebar__links" routerLink="/manage/teams">Teams</a>
    <a href="" class="ml-2 Sidebar__links" routerLink="/hosts">Projects</a>
    <a href="" class="ml-2 Sidebar__links" routerLink="/hosts">Users</a>
  </div>

  <a href="" class="Sidebar__links"  data-toggle="collapse" href="#monitorMenu" role="button" aria-expanded="false"
  aria-controls="monitorMenu">Monitoring</a>
  <div class="collapse" id="monitorMenu">
    <a href="" class="ml-2 Sidebar__links" routerLink="/monitoring/health">Audits</a>
    <a href="" class="ml-2 Sidebar__links" routerLink="/hosts">Health</a>
    <a href="" class="ml-2 Sidebar__links" routerLink="/hosts">Alerts</a>
  </div>

  <a href="" class="Sidebar__links" routerLink="/tools">Tools</a>
  <a href="" class="Sidebar__links" routerLink="/settings">Settings</a>


</div>