<div class="tab-pane" [class.show]="showTab" [class.active]="showTab" role="tabpanel" aria-labelledby="resources-tab">
  <div class="row">
    <div class="col-12">
      <div class="my-3">
        <div class="d-flex mt-5 flex-column">
          <div class="d-flex flex-grow"><span class="font-weight-bold">Environment Variables</span>
          </div>
          <!-- Disable Bulk Edit for Now -->
          <!-- <div class="d-flex align-self-end">
            <div class="custom-switches-stacked">
              <label class="custom-switch">
                <input type="radio" name="option" value="2" class="custom-switch-input">
                <span class="custom-switch-indicator"></span>
                <span class="custom-switch-description">Bulk Edit</span>
              </label>
            </div>
          </div> -->
        </div>

        <div class="d-flex my-2 flex-column">
          <div class="d-flex mb-1" *ngFor="let environmentVar of app.environmentVars; let i = index">
            <div class="form-group flex-grow-1 mr-3">
              <input class="form-control" [(ngModel)]="environmentVar.key" placeholder="Key">
            </div>
            <div class="form-group flex-grow-1">
              <input class="form-control" [(ngModel)]="environmentVar.value" placeholder="Value"
                (keyup)="enterEnvVars($event,i)">
            </div>
          </div>

        </div>

        <div class="d-flex flex-column my-5">
          <div class="mb-2">
            <span class="font-weight-bold">Port Mapping</span>
          </div>
          <div class="mb-2" *ngIf="app.portMapping == undefined || app.portMapping.length == 0">
            <i>Currently, this app does not have any custom port mapping.</i>
          </div>
          <div>
            <div class="row">
              <div class="col-lg-6">
                <div *ngFor="let portMapping of app.portMapping;let i = index" class="d-flex col-12 mb-2">
                  <div class="input-group mr-2 flex-fill">
                    <span class="input-group-prepend" id="basic-addon3">
                      <span class="input-group-text">Server Port</span>
                    </span>
                    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"
                      [(ngModel)]="portMapping.hostPort">
                  </div>
                  <div class="input-group mr-2 flex-fill">
                    <span class="input-group-prepend" id="basic-addon3">
                      <span class="input-group-text">Container Port</span>
                    </span>
                    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"
                      [(ngModel)]="portMapping.containerPort">
                  </div>
                </div>
              </div>
              <div class="col-lg-3 align-self-end mb-3">
                <button class="btn btn-primary btn-sm" (click)="addNewPortMapping()">Add new Port Mapping</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Presistant Data -->
        <!-- <div class="my-5 d-flex flex-column">
          <div class="mb-2">
            <span class="font-weight-bold">Add Presistent Directory</span>
          </div>
          <div class="row">
            <div class="input-group flex-fill col-lg-4">
              <span class="input-group-prepend" id="basic-addon3">
                <span class="input-group-text">Path in App</span>
              </span>
              <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"
                value="/var/lib/mysql">
            </div>
            <div class="input-group flex-fill col-lg-4">
              <span class="input-group-prepend" id="basic-addon3">
                <span class="input-group-text">Label</span>
              </span>
              <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"
                value="/var/lib/mysql">
            </div>
            <div class="d-flex align-items-center flex-fill col-lg-4">
              <button class="btn btn-oultine-dark btn-sm">Set specific host path</button>
            </div>
          </div>


        </div> -->

        <div class="d-flex flex-column col-lg-6 p-0 my-5">
          <div class="mb-2">
            <span class="font-weight-bold">Instances ( Replications )</span>
          </div>
          <div class="d-flex">
            <div class="input-group mr-2">
              <span class="input-group-prepend" id="basic-addon3">
                <span class="input-group-text">Instance Count</span>
              </span>
              <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"
                [(ngModel)]="app.instanceCount">
            </div>
          </div>
        </div>

        <hr />

        <div class="d-flex my-5">
          <button class="btn btn-primary btn-sm" (click)=saveAndUpdate()>Save & Update</button>
        </div>

      </div>
    </div>
  </div>

</div>