<div class="page">
    <div class="page-main">
        <div class="my-3 my-md-5">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="w-100 mb-3 text-right">
                            <button class="btn btn-primary" routerLink="/firewalls/firewall">Create</button>
                        </div>
                        <div class="card">
                            <div class="table-responsive">
                                <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Servers</th>
                                            <th>Rules</th>
                                            <th>Created</th>
                                            <th class="text-center"><i class="icon-settings"></i></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr routerLink="/firewalls/firewall">
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="avatar d-block mr-2"
                                                        style="background-image: url('http://img.blaz.app/40x40')">
                                                    </div>
                                                    Test Firewall
                                                </div>
                                            </td>
                                            <td>
                                                <div>0</div>
                                            </td>
                                            <td>
                                                <div>4</div>
                                            </td>
                                            <td>
                                                <div>Just now</div>
                                            </td>

                                            <td class="text-center">
                                                <div class="item-action dropdown">
                                                    <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i
                                                            class="fe fe-more-vertical"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a href="javascript:void(0)" class="dropdown-item"><i
                                                                class="dropdown-icon fe fe-trash"></i>
                                                            Destroy
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr routerLink="/firewalls/firewall">
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="avatar d-block mr-2"
                                                        style="background-image: url('http://img.blaz.app/40x40')">
                                                    </div>
                                                    Test Firewall
                                                </div>
                                            </td>
                                            <td>
                                                <div>0</div>
                                            </td>
                                            <td>
                                                <div>4</div>
                                            </td>
                                            <td>
                                                <div>Just now</div>
                                            </td>
                                            <td class="text-center">
                                                <div class="item-action dropdown">
                                                    <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i
                                                            class="fe fe-more-vertical"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a href="javascript:void(0)" class="dropdown-item"><i
                                                                class="dropdown-icon fe fe-trash"></i>
                                                            Destroy
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr routerLink="/firewalls/firewall">
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="avatar d-block mr-2"
                                                        style="background-image: url('http://img.blaz.app/40x40')">
                                                    </div>
                                                    Test Firewall
                                                </div>
                                            </td>
                                            <td>
                                                <div>0</div>
                                            </td>
                                            <td>
                                                <div>4</div>
                                            </td>
                                            <td>
                                                <div>Just now</div>
                                            </td>
                                            <td class="text-center">
                                                <div class="item-action dropdown">
                                                    <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i
                                                            class="fe fe-more-vertical"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a href="javascript:void(0)" class="dropdown-item"><i
                                                                class="dropdown-icon fe fe-trash"></i>
                                                            Destroy
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr routerLink="/firewalls/firewall">
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="avatar d-block mr-2"
                                                        style="background-image: url('http://img.blaz.app/40x40')">
                                                    </div>
                                                    Test Firewall
                                                </div>
                                            </td>
                                            <td>
                                                <div>0</div>
                                            </td>
                                            <td>
                                                <div>4</div>
                                            </td>
                                            <td>
                                                <div>Just now</div>
                                            </td>
                                            <td class="text-center">
                                                <div class="item-action dropdown">
                                                    <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i
                                                            class="fe fe-more-vertical"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a href="javascript:void(0)" class="dropdown-item"><i
                                                                class="dropdown-icon fe fe-trash"></i>
                                                            Destroy
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr routerLink="/firewalls/firewall">
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="avatar d-block mr-2"
                                                        style="background-image: url('http://img.blaz.app/40x40')">
                                                    </div>
                                                    Test Firewall
                                                </div>
                                            </td>
                                            <td>
                                                <div>0</div>
                                            </td>
                                            <td>
                                                <div>4</div>
                                            </td>
                                            <td>
                                                <div>Just now</div>
                                            </td>
                                            <td class="text-center">
                                                <div class="item-action dropdown">
                                                    <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i
                                                            class="fe fe-more-vertical"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a href="javascript:void(0)" class="dropdown-item"><i
                                                                class="dropdown-icon fe fe-trash"></i>
                                                            Destroy
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr routerLink="/firewalls/firewall">
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="avatar d-block mr-2"
                                                        style="background-image: url('http://img.blaz.app/40x40')">
                                                    </div>
                                                    Test Firewall
                                                </div>
                                            </td>
                                            <td>
                                                <div>0</div>
                                            </td>
                                            <td>
                                                <div>4</div>
                                            </td>
                                            <td>
                                                <div>Just now</div>
                                            </td>
                                            <td class="text-center">
                                                <div class="item-action dropdown">
                                                    <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i
                                                            class="fe fe-more-vertical"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a href="javascript:void(0)" class="dropdown-item"><i
                                                                class="dropdown-icon fe fe-trash"></i>
                                                            Destroy
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr routerLink="/firewalls/firewall">
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="avatar d-block mr-2"
                                                        style="background-image: url('http://img.blaz.app/40x40')">
                                                    </div>
                                                    Test Firewall
                                                </div>
                                            </td>
                                            <td>
                                                <div>0</div>
                                            </td>
                                            <td>
                                                <div>4</div>
                                            </td>
                                            <td>
                                                <div>Just now</div>
                                            </td>
                                            <td class="text-center">
                                                <div class="item-action dropdown">
                                                    <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i
                                                            class="fe fe-more-vertical"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a href="javascript:void(0)" class="dropdown-item"><i
                                                                class="dropdown-icon fe fe-trash"></i>
                                                            Destroy
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr routerLink="/firewalls/firewall">
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="avatar d-block mr-2"
                                                        style="background-image: url('http://img.blaz.app/40x40')">
                                                    </div>
                                                    Test Firewall
                                                </div>
                                            </td>
                                            <td>
                                                <div>0</div>
                                            </td>
                                            <td>
                                                <div>4</div>
                                            </td>
                                            <td>
                                                <div>Just now</div>
                                            </td>
                                            <td class="text-center">
                                                <div class="item-action dropdown">
                                                    <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i
                                                            class="fe fe-more-vertical"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a href="javascript:void(0)" class="dropdown-item"><i
                                                                class="dropdown-icon fe fe-trash"></i>
                                                            Destroy
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>