<div class="page">
  <div class="page-main">

    <div class="my-3 my-md-5">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <ul class="nav nav-tabs p-4 border-0" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="domains-tab" data-toggle="tab" href="#domains" role="tab"
                    aria-controls="domains" aria-selected="true">Domains</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="proxyhosts-tab" data-toggle="tab" href="#proxyhosts" role="tab"
                    aria-controls="hosts" aria-selected="false">Proxy Hosts</a>
                </li>
              </ul>

              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="domains" role="tabpanel" aria-labelledby="domains-tab">
                  <div class="table-responsive">
                    <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                      <thead>
                        <tr>
                          <th class="text-center w-1"><i class="icon-people"></i></th>
                          <th>Source</th>
                          <th>Destination</th>
                          <th>SSL</th>
                          <th>Access</th>
                          <th>Status</th>
                          <th class="text-center"><i class="icon-settings"></i></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="text-center">
                            <div class="avatar d-block" style="background-image: url('http://img.blaz.app/40x40')">
                              <span class="avatar-status bg-green"></span>
                            </div>
                          </td>
                          <td>
                            <div><span class="tag">www.aroliant.com</span></div>
                            <div class="small text-muted">
                              Created: Mar 7, 2019
                            </div>
                          </td>
                          <td>
                            <div>http://192.168.100.101</div>
                          </td>
                          <td>
                            <div>Let's Encrypt</div>
                          </td>
                          <td>
                            <div>Public</div>
                          </td>
                          <td>
                            <div><span class="status-icon bg-success"></span>Online</div>
                          </td>
                          <td class="text-center">
                            <div class="item-action dropdown">
                              <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i
                                  class="fe fe-more-vertical"></i></a>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-tag"></i>
                                  Action
                                </a>
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-edit-2"></i>
                                  Another action </a>
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-message-square"></i> Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-link"></i>
                                  Separated link</a>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-center">
                            <div class="avatar d-block" style="background-image: url('http://img.blaz.app/40x40')">
                              <span class="avatar-status bg-green"></span>
                            </div>
                          </td>
                          <td>
                            <div><span class="tag">www.aroliant.com</span></div>
                            <div class="small text-muted">
                              Created: Feb 19, 2019
                            </div>
                          </td>
                          <td>
                            <div>http://192.168.100.101</div>
                          </td>
                          <td>
                            <div>Let's Encrypt</div>
                          </td>
                          <td>
                            <div>Public</div>
                          </td>
                          <td>
                            <div><span class="status-icon bg-success"></span>Online</div>
                          </td>
                          <td class="text-center">
                            <div class="item-action dropdown">
                              <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i
                                  class="fe fe-more-vertical"></i></a>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-tag"></i>
                                  Action
                                </a>
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-edit-2"></i>
                                  Another action </a>
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-message-square"></i> Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-link"></i>
                                  Separated link</a>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-center">
                            <div class="avatar d-block" style="background-image: url('http://img.blaz.app/40x40')">
                              <span class="avatar-status bg-green"></span>
                            </div>
                          </td>
                          <td>
                            <div><span class="tag">www.aroliant.com</span></div>
                            <div class="small text-muted">
                              Created: Mar 26, 2019
                            </div>
                          </td>
                          <td>
                            <div>http://192.168.100.101</div>
                          </td>
                          <td>
                            <div>Let's Encrypt</div>
                          </td>
                          <td>
                            <div>Public</div>
                          </td>
                          <td>
                            <div><span class="status-icon bg-success"></span>Online</div>
                          </td>
                          <td class="text-center">
                            <div class="item-action dropdown">
                              <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i
                                  class="fe fe-more-vertical"></i></a>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-tag"></i>
                                  Action
                                </a>
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-edit-2"></i>
                                  Another action </a>
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-message-square"></i> Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-link"></i>
                                  Separated link</a>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-center">
                            <div class="avatar d-block" style="background-image: url('http://img.blaz.app/40x40')">
                              <span class="avatar-status bg-green"></span>
                            </div>
                          </td>
                          <td>
                            <div><span class="tag">www.aroliant.com</span></div>
                            <div class="small text-muted">
                              Created: Jan 4, 2019
                            </div>
                          </td>
                          <td>
                            <div>http://192.168.100.101</div>
                          </td>
                          <td>
                            <div>Let's Encrypt</div>
                          </td>
                          <td>
                            <div>Public</div>
                          </td>
                          <td>
                            <div><span class="status-icon bg-success"></span>Online</div>
                          </td>
                          <td class="text-center">
                            <div class="item-action dropdown">
                              <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i
                                  class="fe fe-more-vertical"></i></a>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-tag"></i>
                                  Action
                                </a>
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-edit-2"></i>
                                  Another action </a>
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-message-square"></i> Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-link"></i>
                                  Separated link</a>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-center">
                            <div class="avatar d-block" style="background-image: url('http://img.blaz.app/40x40')">
                              <span class="avatar-status bg-green"></span>
                            </div>
                          </td>
                          <td>
                            <div><span class="tag">www.aroliant.com</span></div>
                            <div class="small text-muted">
                              Created: Feb 21, 2019
                            </div>
                          </td>
                          <td>
                            <div>http://192.168.100.101</div>
                          </td>
                          <td>
                            <div>Let's Encrypt</div>
                          </td>
                          <td>
                            <div>Public</div>
                          </td>
                          <td>
                            <div><span class="status-icon bg-success"></span>Online</div>
                          </td>
                          <td class="text-center">
                            <div class="item-action dropdown">
                              <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i
                                  class="fe fe-more-vertical"></i></a>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-tag"></i>
                                  Action
                                </a>
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-edit-2"></i>
                                  Another action </a>
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-message-square"></i> Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-link"></i>
                                  Separated link</a>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-center">
                            <div class="avatar d-block" style="background-image: url('http://img.blaz.app/40x40')">
                              <span class="avatar-status bg-green"></span>
                            </div>
                          </td>
                          <td>
                            <div><span class="tag">www.aroliant.com</span></div>
                            <div class="small text-muted">
                              Created: Mar 8, 2019
                            </div>
                          </td>
                          <td>
                            <div>http://192.168.100.101</div>
                          </td>
                          <td>
                            <div>Let's Encrypt</div>
                          </td>
                          <td>
                            <div>Public</div>
                          </td>
                          <td>
                            <div><span class="status-icon bg-success"></span>Online</div>
                          </td>
                          <td class="text-center">
                            <div class="item-action dropdown">
                              <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i
                                  class="fe fe-more-vertical"></i></a>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-tag"></i>
                                  Action
                                </a>
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-edit-2"></i>
                                  Another action </a>
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-message-square"></i> Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-link"></i>
                                  Separated link</a>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-center">
                            <div class="avatar d-block" style="background-image: url('http://img.blaz.app/40x40')">
                              <span class="avatar-status bg-green"></span>
                            </div>
                          </td>
                          <td>
                            <div><span class="tag">www.aroliant.com</span></div>
                            <div class="small text-muted">
                              Created: Feb 10, 2019
                            </div>
                          </td>
                          <td>
                            <div>http://192.168.100.101</div>
                          </td>
                          <td>
                            <div>Let's Encrypt</div>
                          </td>
                          <td>
                            <div>Public</div>
                          </td>
                          <td>
                            <div><span class="status-icon bg-success"></span>Online</div>
                          </td>
                          <td class="text-center">
                            <div class="item-action dropdown">
                              <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i
                                  class="fe fe-more-vertical"></i></a>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-tag"></i>
                                  Action
                                </a>
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-edit-2"></i>
                                  Another action </a>
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-message-square"></i> Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-link"></i>
                                  Separated link</a>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-center">
                            <div class="avatar d-block" style="background-image: url('http://img.blaz.app/40x40')">
                              <span class="avatar-status bg-green"></span>
                            </div>
                          </td>
                          <td>
                            <div><span class="tag">www.aroliant.com</span></div>
                            <div class="small text-muted">
                              Created: Jan 10, 2019
                            </div>
                          </td>
                          <td>
                            <div>http://192.168.100.101</div>
                          </td>
                          <td>
                            <div>Let's Encrypt</div>
                          </td>
                          <td>
                            <div>Public</div>
                          </td>
                          <td>
                            <div><span class="status-icon bg-success"></span>Online</div>
                          </td>
                          <td class="text-center">
                            <div class="item-action dropdown">
                              <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i
                                  class="fe fe-more-vertical"></i></a>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-tag"></i>
                                  Action
                                </a>
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-edit-2"></i>
                                  Another action </a>
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-message-square"></i> Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a href="javascript:void(0)" class="dropdown-item"><i
                                    class="dropdown-icon fe fe-link"></i>
                                  Separated link</a>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="tab-pane" id="proxyhosts" role="tabpanel" aria-labelledby="proxyhosts-tab">
                  Hello
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>