<div class="tab-pane" [class.show]="showTab" [class.active]="showTab" role="tabpanel" aria-labelledby="deploy-tab">
  <div class="d-flex my-5 flex-column">
    <div class="d-flex justify-content-between">
      <div>
        <span class="font-weight-bold">Version History</span>
      </div>
      <!-- <div><a href="#">View All</a></div> -->
    </div>
    <div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Version</th>
              <th>Image Name</th>
              <th>Deployed at</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let version of appDetails.versions">
              <td>{{version.versionName}}</td>
              <td>{{version.imageName}}</td>
              <td>{{version.createdAt | date: 'medium'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="d-flex my-5 flex-column">
    <div class="mb-2">
      <a href="#" data-toggle="collapse" href="#buildLogs" role="button" aria-expanded="false"
        aria-controls="buildLogs">
        <span class="font-weight-bold">Show Build Logs</span>
      </a>
    </div>
    <div class="collapse" id="buildLogs">
      <textarea class="border bg-light rounded p-2 w-100 text-left"
        rows="8">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</textarea>
    </div>
  </div>
  <hr>

  <div class="d-flex my-5 flex-column">
    <div class="mb-2">
      <a href="#" data-toggle="collapse" href="#appLogs" role="button" aria-expanded="true" aria-controls="appLogs">
        <span class="font-weight-bold">Hide App Logs</span>
      </a>
    </div>
    <div class="collapse show" id="appLogs">
      <textarea class="border bg-light rounded p-2 w-100 text-left"
        rows="8">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</textarea>
    </div>
  </div>
  <hr>

  <div class="d-flex flex-column my-5">
    <div class="mb-2">
      <span class="font-weight-bold">Method 1: Official CLI</span>
    </div>
    <div>Use CLI deploy command. This is the easiest method as it only requires a simply command like
      blaz deploy. Read more about it in the docs</div>
  </div>
  <hr />

  <div class="d-flex flex-column my-5">
    <div class="mb-2">
      <span class="font-weight-bold">Method 2: Tarball</span>
    </div>
    <div class="d-flex flex-column bg-light rounded justify-content-center align-items-center mb-3"
      style="min-height:100px;">
      <div>
        <input type="file" id="tarBallFile" accept=".tar">
      </div>
      <div>
        You can simply create a tarball (.tar) of your project and upload it here via upload button.
      </div>
      <div>Must contain Dockerfile</div>
    </div>
    <div class="d-flex justify-content-center">
      <span>{{fileUploadMessage}}</span>
    </div>
    <div class="d-flex justify-content-center">
      <button class="btn btn-primary btn-sm" (click)="uploadTarFile()">{{fileUploadBtn}}</button>
    </div>
  </div>
  <hr />

  <div class="d-flex flex-column my-5">
    <div class="mb-2">
      <span class="font-weight-bold">Method 3: Deploy Plain Docker file</span>
    </div>
    <div>
      <textarea class="border bg-light rounded p-2 w-100 text-left" rows="8" [(ngModel)]="dockerFileSource"></textarea>
    </div>
    <div class="d-flex justify-content-end">
      <button class="btn btn-primary btn-sm" (click)="deployDockerFile()">Deploy Now</button>
    </div>
  </div>

</div>