.Project {
  cursor: pointer;
}
.Project:hover {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05) !important;
  border-color: #467fcf;
}
.Project__description {
  width: 100%;
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}
