<div class="page">
  <div class="page-main">

    <div class="my-3 my-md-5">
      <div class="container">
        <div class="row row-cards row-deck">
          <div class="col-12">
            <div class="w-100 mb-3 text-right">
              <button class="btn btn-primary" routerLink="/projects/create">Create</button>
            </div>
            <div class="card">
              <div class="card-header">
                <h3 class="m-0">List of Projects</h3>
              </div>

              <div class="row my-3 mx-1">
                <div class="col-lg-3 p-2">
                  <div routerLink="/projects/view" class="card Project m-0">
                    <div class="card-header p-2">
                      <span class="avatar avatar-cyan mr-2">PR</span>
                      <h3 class="card-title">Project Name</h3>
                    </div>
                    <div class="card-body p-2 Project__description">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </div>
                    <div class="card-footer p-2">
                      <div class="card-options">
                        <div class="tags">
                          <span class="tag">Label 1</span>
                          <span class="tag">Label 2</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 p-2">
                  <div routerLink="/projects/view" class="card Project m-0">
                    <div class="card-header p-2">
                      <span class="avatar avatar-cyan mr-2">PR</span>
                      <h3 class="card-title">Project Name</h3>
                    </div>
                    <div class="card-body p-2 Project__description">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </div>
                    <div class="card-footer p-2">
                      <div class="card-options">
                        <div class="tags">
                          <span class="tag">Label 1</span>
                          <span class="tag">Label 2</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 p-2">
                  <div routerLink="/projects/view" class="card Project m-0">
                    <div class="card-header p-2">
                      <span class="avatar avatar-cyan mr-2">PR</span>
                      <h3 class="card-title">Project Name</h3>
                    </div>
                    <div class="card-body p-2 Project__description">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </div>
                    <div class="card-footer p-2">
                      <div class="card-options">
                        <div class="tags">
                          <span class="tag">Label 1</span>
                          <span class="tag">Label 2</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 p-2">
                  <div routerLink="/projects/view" class="card Project m-0">
                    <div class="card-header p-2">
                      <span class="avatar avatar-cyan mr-2">PR</span>
                      <h3 class="card-title">Project Name</h3>
                    </div>
                    <div class="card-body p-2 Project__description">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </div>
                    <div class="card-footer p-2">
                      <div class="card-options">
                        <div class="tags">
                          <span class="tag">Label 1</span>
                          <span class="tag">Label 2</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 p-2">
                  <div routerLink="/projects/view" class="card Project m-0">
                    <div class="card-header p-2">
                      <span class="avatar avatar-cyan mr-2">PR</span>
                      <h3 class="card-title">Project Name</h3>
                    </div>
                    <div class="card-body p-2 Project__description">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </div>
                    <div class="card-footer p-2">
                      <div class="card-options">
                        <div class="tags">
                          <span class="tag">Label 1</span>
                          <span class="tag">Label 2</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>