<div class="page">
  <div class="page-main">

    <div class="my-3 my-md-5">
      <div class="container">
        <div class="row row-cards row-deck">
          <div class="col-12">
            <div class="w-100 mb-3 text-right">
              <button class="btn btn-primary" routerLink="/users/create">Create</button>
            </div>
            <div class="card">
              <div class="card-header">
                <h3 class="m-0">List of Users</h3>
              </div>
              <div class="table-responsive">
                <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                  <thead>
                    <tr>
                      <th class="text-center w-1"><i class="icon-people"></i></th>
                      <th>User Name</th>
                      <th>Email Address</th>
                      <th>Role</th>
                      <th>Labels/Tags</th>
                      <th class="text-center"><i class="icon-settings"></i></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let user of users">
                      <td class="text-center" routerLink="/users/{{user.userID}}">
                        <div class="avatar d-block" style="background-image: url('https://img.blaz.app/40x40')">
                          <span class="avatar-status bg-green"></span>
                        </div>
                      </td>
                      <td routerLink="/users/{{user.userID}}">
                        <div>{{user.username}}</div>
                      </td>
                      <td routerLink="/users/{{user.userID}}">
                        <div>{{user.userEmail}}</div>
                      </td>
                      <td routerLink="/users/{{user.userID}}">
                        <div>Admin</div>
                      </td>
                      <td routerLink="/users/{{user.userID}}">
                        <div class="small text-muted">Last login</div>
                        <div>4 minutes ago</div>
                      </td>

                      <td class="text-center">
                        <div class="item-action dropdown">
                          <a data-toggle="dropdown" class="icon"><i class="fe fe-more-vertical"></i></a>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item"><i class="dropdown-icon fe fe-tag"></i>
                              View Account </a>
                            <a class="dropdown-item"><i class="dropdown-icon fe fe-message-square"></i>Edit</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item"><i class="dropdown-icon fe fe-link"></i>
                              Delete Account</a>
                          </div>
                        </div>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>