.AvatarContainer:nth-child(odd) .avatar-color{
    background-color: #c8d9f1;
    color: #467fcf;
}

.AvatarContainer:nth-child(even) .avatar-color{
    background-color: #c7e6fb;
    color: #45aaf2;
}
.AvatarContainer{
    cursor: pointer;
    position: relative;
}
.AvatarContainer:hover{
    background: #f5f7fb;
    border-radius: 10px;
    color: #6484d1;
}
.AvatarContainer:hover .AvatarDropdown{
    display: block;
}
.AvatarDropdown{
    position: absolute;
    right: 2px;
    top: 2px;
    padding-left: 5px;
    display: none;
}