<div class="page">
  <div class="page-main">

    <div class="my-3 my-md-5">
      <div class="container">
        <div class="row row-cards row-deck">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="m-0">Edit User</h3>
              </div>
              <div class="row m-0">
                <div class="col-12">
                  <div class="row form-group m-0 mt-3">
                    <div class="col-12 p-2">
                      <div class="input-icon">
                        <span class="input-icon-addon">
                          <i class="fe fe-user"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="Username">
                      </div>
                    </div>
                    <div class="col-12 p-2">
                      <div class="input-icon">
                        <span class="input-icon-addon">
                          <i class="fe fe-mail"></i>
                        </span>
                        <input type="email" class="form-control" placeholder="Email">
                      </div>
                    </div>
                    <div class="col-12 p-2">
                      <div class="input-icon">
                        <span class="input-icon-addon">
                          <i class="fe fe-lock"></i>
                        </span>
                        <input type="password" class="form-control" placeholder="Current Password">
                      </div>
                    </div>
                    <div class="col-12 p-2">
                      <div class="form-group">
                        <label class="form-label">Role</label>
                        <select name="beast" id="select-beast" class="form-control custom-select">
                          <option value="1">Admin</option>
                          <option value="4">Manager</option>
                          <option value="3">Developer</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="w-100 text-right mb-3">
                    <button class="btn btn-primary mr-2" routerLink="/users">Save</button>
                    <button class="btn btn-outline-danger mr-3" >Delete User</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>